:root {
  --card-background: rgb(230, 230, 230);
  --tag-friend: rgb(255, 210, 7);
  --tag-family: rgb(108, 196, 255);
  --tag-lover: rgb(255, 100, 100);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h1 span {
  color: var(--tag-friend);
}

#container {
  width: 500px;
  /* background-color: wheat; */
  margin-left: auto;
  margin-right: auto;
}

#just {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: var(--card-background);
  width: 300px;
  height: 70px;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-title-wrapper {
  display: inline-block;
}

.tag {
  background-color: var(--tag-friend);
  padding: 2px 8px 2px 8px;
  border-radius: 10px;
}

.tag[data-tag="friend"] {
  background-color: var(--tag-friend);
}

.tag[data-tag="family"] {
  background-color: var(--tag-family);
}

.tag[data-tag="lover"] {
  background-color: var(--tag-lover);
}

.card-body {
  text-align: center;
  font-size: x-large;
  padding: 10px;
}

.person-name {
  font-weight: bold;
}
